<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<idntenantsinfo>
		<add name="pohtenantid" POHTenantId="147ed1af-b0e8-eb11-a7ad-281878dd285c" />
		<add name="idntenantid" IDNTenantId="60cd3ccc-bae8-eb11-a7ad-281878dd285c" />
	    <add name="pohbaseurl" POHBaseURL="C:\\Program Files (x86)\\Allscripts Sunrise\\Helios\\8.7\\HeliosConnect\\MAIN_SXABAT210" />
	</idntenantsinfo>
</configuration>
