<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<idntenantsinfo60cd3cccbae8eb11a7ad281878dd285c>
		<add name="pohtenantid" POHTenantId="adinath" />
		<add name="idntenantid" aIDNTenantId="60cd3ccc-bae8-eb11-a7ad-281878dd285c" />
	    	<add name="pohbaseurl" POHBaseURL="C:\\Program Files (x86)\\Allscripts Sunrise\\Helios\\8.7\\HeliosConnect\\MAIN_SXABAT210" />
	</idntenantsinfo60cd3cccbae8eb11a7ad281878dd285>
</configuration>
